@import '@fontsource/ibm-plex-sans-arabic';

/* خط "قمرة" - الخط الرسمي للهوية البصرية للجمهورية العربية السورية */
@font-face {
  font-family: 'Qomra Arabic';
  src: url('./assets/fonts/QomraArabic/itfQomraArabic-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qomra Arabic';
  src: url('./assets/fonts/QomraArabic/itfQomraArabic-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qomra Arabic';
  src: url('./assets/fonts/QomraArabic/itfQomraArabic-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qomra Arabic';
  src: url('./assets/fonts/QomraArabic/itfQomraArabic-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qomra Arabic';
  src: url('./assets/fonts/QomraArabic/itfQomraArabic-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Qomra Arabic', 'IBM Plex Sans Arabic', sans-serif;
}
